<div class="container">
    <h1 class="mt-5">Home</h1>
    <p class="lead">Put a price on emotion
        I'm looking for something to buy
        You've got my devotion
        But man, I can hate you sometimes
        I don't want to fight you
        And I don't wanna sleep in the dirt
        We'll get the drinks in
        So I'll get to thinking of her
        We'll be a fine line</p>
</div>