<a class="navbar-text"
        <%if (ssn.user !== "Login") {
            %>
            href="logout"
            onmouseover="this.innerHTML='Logout';"
            onmouseout="this.innerHTML='<%= ssn.user %>';"
            <%
        } else {
            %>
            href="login"
            <%
        }%>
tabindex="-1"><%= ssn.user %></a>