<div class="container">
    <h1 class="mt-5">Personal information</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus luctus mauris et laoreet.
        Proin ultricies fringilla consectetur. Cras nec elementum ipsum, et vehicula magna. Etiam eget ante tortor.
        Nullam mauris est, sollicitudin id eleifend eget, interdum non urna.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Maecenas nunc ligula, laoreet in pretium vel, varius a est. Duis semper massa ut augue euismod, ut sollicitudin nisi convallis.</p>
</div>