<div class="container">
    <img src="https://i.pinimg.com/originals/36/56/cd/3656cdb792d0600a3d7d454fa7f6234a.png" alt="harry" style="width:25%" class="img-responsive center-block d-block mx-auto">
    <h1 class="text-center">My Account</h1>
    <h4 class="text-center">Name:</h4>
    <h4 class="text-center">Username:</h4>
    <h4 class="text-center">Email:</h4>
    <h4 class="text-center">Role:</h4>
</div>